@import 'tailwindcss';

@theme {
  --font-sans:
    'Pretendard Variable', 'Pretendard', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-gray-900: #202020;
  --color-gray-800: #353535;
  --color-gray-700: #555555;
  --color-gray-600: #757575;
  --color-gray-500: #9d9d9d;
  --color-gray-400: #d9d9d9;
  --color-gray-300: #e9e9e9;
  --color-gray-200: #f5f5f5;
  --color-gray-100: #fafafa;
  --color-black: #161616;
  --color-white: #ffffff;
  --color-primary: #ff9742;
  --color-primary-light: #fff8e9;
  --color-error: #ff4d4c;
  --color-success: #00ae4f;

  --text-h1: 1.625rem;
  --text-h1--line-height: 1.4;
  --text-h1--letter-spacing: 0;
  --text-h1--font-weight: 700;

  --text-h2: 1.5rem;
  --text-h2--line-height: 1.2;
  --text-h2--letter-spacing: 0;
  --text-h2--font-weight: 600;

  --text-t1: 1.25rem;
  --text-t1--line-height: 1.2;
  --text-t1--letter-spacing: 0;
  --text-t1--font-weight: 400;

  --text-t2: 1.125rem;
  --text-t2--line-height: 1.2;
  --text-t2--letter-spacing: 0;
  --text-t2--font-weight: 600;

  --text-t3: 1rem;
  --text-t3--line-height: 1.2;
  --text-t3--letter-spacing: 0;
  --text-t3--font-weight: 600;

  --text-t4: 1rem;
  --text-t4--line-height: 1.4;
  --text-t4--letter-spacing: 0;
  --text-t4--font-weight: 400;

  --text-b1: 0.875rem;
  --text-b1--line-height: 1.2;
  --text-b1--letter-spacing: 0;
  --text-b1--font-weight: 600;

  --text-b2: 0.875rem;
  --text-b2--line-height: 1.4;
  --text-b2--letter-spacing: 0;
  --text-b2--font-weight: 500;

  --text-b3: 0.875rem;
  --text-b3--line-height: 1.4;
  --text-b3--letter-spacing: 0;
  --text-b3--font-weight: 400;

  --text-c1: 0.8125rem;
  --text-c1--line-height: 1.2;
  --text-c1--letter-spacing: 0;
  --text-c1--font-weight: 600;

  --text-c2: 0.8125rem;
  --text-c2--line-height: 1.4;
  --text-c2--letter-spacing: 0;
  --text-c2--font-weight: 400;

  --text-c3: 0.75rem;
  --text-c3--line-height: 1.2;
  --text-c3--letter-spacing: 0;
  --text-c3--font-weight: 400;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
